@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')

header
    font-family: Inter
    position: fixed
    display: flex
    width: 100%
    background-color: inherit
    & a
        text-decoration: none
    &_container
        padding: 0 6rem
        margin: 0

active_link 
        color: white
